* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: var(--bg-color);
}

:root {
  --primary-color: #0d369f;
  --secondary-color: #ff6e65;
  --logo-color: #0d369f;
  --heading-color: #060606;
  --bg-color: #fff;
  --bg-color-2: #fff;
  --font-color: #707070;
  --border-color: transparent;
  --box-shadow-color: rgb(4 20 69 / 10%);
  --bg-color-li: rgb(13 54 159 / 9%);
  --border-color-light: #eee;
  --dropdown-color: rgb(112, 112, 112);
}
[data-theme="dark"] {
  --primary-color: #4867b0;
  --secondary-color: #ff6e65;
  --logo-color: #fff;
  --heading-color: #fdfffc;
  --bg-color: #161c2d;
  --bg-color-2: transparent;
  --font-color: #b7b7b7;
  --border-color: rgba(255, 255, 255, 0.2);
  --box-shadow-color: hsla(222, 34%, 17%, 1);
  --bg-color-li: rgb(168 176 195 / 11%);
  --border-color-light: rgba(255, 255, 255, 0.2);
  --dropdown-color: rgb(183, 183, 183);
}

ul,
h3,
h4 {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.5s;
}

p {
  font-size: 16px;
  line-height: 28px;
  color: var(--font-color);
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
.title {
  padding-bottom: 24px;
  margin-bottom: 48px;
}
.title h3 {
  font-size: 40px;
  color: var(--heading-color);
  text-align: center;
  position: relative;
  line-height: 50px;
  font-weight: 600;
}

.title h3 span {
  color: var(--secondary-color);
}

.title h3::before {
  left: -20px;
  bottom: -8px;
}

.title h3::after {
  left: 20px;
  bottom: -15px;
}
.title h3::before,
.title h3::after {
  content: "";
  background: var(--font-color);
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}

.btn-style {
  padding: 14px 30px;
  font-weight: 600;
  font-size: 16px;
  color: #060606;
  border-radius: 4px;
  background: #fff;
  border: none;
  transition: all 0.25s ease-in-out;
}

.btn-style:hover {
  background: var(--secondary-color);
  color: #fff;
  transition: 0.3s ease-out;
}

/* Header */
.header__top {
  background: var(--primary-color);
  padding: 14px 15px;
}
.header__content li,
.header__left a,
.header__right a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.header__left ul,
.header__right ul {
  margin-bottom: 0;
}

.header__left i {
  color: #fff;
  margin-right: 8px;
}
.header__left i.fa-phone {
  font-size: 12px;
}
.header__left i.fa-envelope {
  font-size: 15px;
}

.header__right i {
  color: #fff;
  transition: all 0.5s;
}

.header__right a {
  font-size: 14px;
}

/* .header__left ul,
.header__right ul {
  display: flex;
} */

.header__left li,
.header__right li {
  margin-right: 30px;
  display: inline-block;
}

.header__left a:hover,
.header__right a:hover i {
  color: var(--secondary-color);
  text-decoration: none;
}

.fixed-top {
  position: sticky;
}

.header__nav {
  background-color: transparent;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: flex;
  align-items: center;
}

.nav-fixed {
  padding: 0px;
  border-bottom: none;
  z-index: 999 !important;
  background-color: var(--bg-color);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  height: 70px;
}

.nav-fixed .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: var(--primary-color);
}

.nav-fixed .navbar-expand-lg .navbar-nav .nav-item.active .nav-link,
.nav-fixed .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: var(--secondary-color);
}

.nav-fixed .fa-moon,
.nav-fixed .fa-moon:after {
  color: var(--heading-color);
}

.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 26px;
  color: var(--logo-color);
  font-weight: 600;
}

.navbar-brand img {
  margin-right: 4px;
}
a.navbar-brand:hover {
  color: var(--secondary-color);
}

.navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
}

.navbar-nav .nav-item a {
  cursor: pointer;
}

.navbar-nav .nav-item .nav-link {
  padding-left: 0;
  padding-right: 0;
}

.navbar-nav .nav-link {
  padding: 6px 0;
  color: var(--heading-color);
  font-weight: 600;
  text-transform: uppercase;
}
.navbar-nav .dropdown-menu {
  transform: translateX(-50px);
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  box-shadow: rgb(12 12 12 / 6%) 0px 1px 20px 0px;
  padding: 16px 0;
  min-width: 12rem;
}

.navbar-nav .dropdown-menu:before {
  content: "";
  width: 14px;
  height: 14px;
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}

/* .navbar-expand-lg .navbar-nav .nav-item.dropdown {
  padding-right: 20px;
} */

.dropdown-toggle::after {
  /* display: none; */
  margin-left: 0;
}
/* .nav-item.dropdown::after {
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 11px;
  color: var(--dropdown-color);
  position: absolute;
  right: 7px;
  top: 12px;
  display: inline-block;
  font-weight: 400;
} */

a.dropdown-item {
  font-size: 16px;
  color: var(--heading-color);
  padding: 5px 24px;
  font-weight: 600;
  text-transform: uppercase;
}

a.dropdown-item:hover {
  color: var(--secondary-color);
  background: none;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-link:hover,
.btn.search-btn:hover i {
  color: var(--secondary-color);
}

.navbar .search-right {
  margin: 0 10px 0 10px;
}

.navbar form.search-box {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar-nav {
  align-items: center;
}

.navbar-nav form input {
  font-size: 15px;
  /* color: var(--heading-color); */
  outline: none;
  background: transparent;
  border: none;
  padding: 10px 35px 10px 20px;
  width: 100%;
  border-radius: 30px;
  border: 2px solid #eee;
}

.nav-fixed .nav-item.dropdown::after {
  color: var(--heading-color);
}

.btn.search-btn {
  position: absolute;
  color: var(--primary-color);
  right: 0;
  padding: 0px 20px 0px 0px;
}

.btn.search-btn i {
  font-size: 14px;
  transition: all 0.5s;
}

.header__theme {
  display: flex;
}

.header__switch {
  display: inline-block;
  position: relative;
  margin: 0;
}

.header__switch input {
  display: none;
}

.header__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  color: var(--primary-color);
}

/* .header__icon i {
  color: var(--primary-color);
} */

.header__icon .btn {
  padding: 0;
}

.header__icon .fa-sun {
  display: none;
}

.header__icon .fa-moon {
  display: block;
  cursor: pointer;
  font-size: 24px;
}
.header__icon:hover {
  color: var(--secondary-color);
}

/* .fa-moon,
.fa-moon::after {
  display: block;
  border-radius: 50%;
}
.fa-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(1, 1);
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom: 2px solid transparent;
}
.fa-moon::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}
.fa-moon:before {
  content: none;
}
.fa-sun {
  position: relative;
  transform: scale(1, 1);
  height: 24px;
  background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat
      5px -6px/2px 6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px
      6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px
      2px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px
      2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
  font-size: 15px;
}

.fa-sun::before {
  transform: rotate(-45deg);
}
.fa-sun::after {
  transform: rotate(45deg);
}
.fa-sun,
.fa-sun::after,
.fa-sun::before {
  display: block;
  width: 24px;
}

.fa-sun::after,
.fa-sun::before {
  content: "";
  position: absolute;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
} */

input:checked + .header__icon i.fa-sun {
  display: block;
  cursor: pointer;
  font-size: 24px;
}

input:checked + .header__icon i.fa-moon {
  display: none;
}

@media only screen and (max-width: 1199px) {
  .navbar-nav .nav-item {
    padding: 0 8px;
  }
}

@media only screen and (max-width: 1080px) {
  .navbar-nav .nav-item {
    padding: 0 4px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 6px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 991px) {
  .header {
    display: none;
  }
  .header__nav {
    height: auto;
  }
  .fixed-top {
    position: fixed;
  }

  .navbar {
    padding: 0.5rem 0rem;
  }

  .navbar-toggler {
    padding: 0rem 0rem !important;
    border: 0 none;
    font-size: 24px;
  }

  .navbar-toggler-icon {
    padding: 0;
    width: 34px;
    height: 34px;
    display: inline-block;
    background: #272121;
    border-radius: 4px;
    text-align: center;
  }

  .navbar-toggler-icon.fa {
    font-size: 20px;
    line-height: 1.2em;
    color: #fff;
    background: var(--primary-color);
    line-height: 34px;
  }
  button.navbar-toggler .icon-close {
    display: block;
  }

  button.navbar-toggler .icon-expand {
    display: none;
  }

  button.navbar-toggler.collapsed .icon-close {
    display: none;
  }

  button.navbar-toggler.collapsed .icon-expand {
    display: block;
  }

  .header__theme {
    position: absolute;
    right: 50px;
    top: 22px;
  }

  .navbar-nav {
    animation-name: none;
    /* float: left; */
    text-align: center;
    width: 100%;
    background: var(--bg-color);
    padding: 20px;
    margin-top: 16px;
    box-shadow: 0 6px 19px rgba(0, 0, 0, 0.05);
  }

  .navbar-nav .dropdown-menu {
    text-align: center;
  }

  .navbar-nav:last-child {
    border: 1px solid var(--border-color);
  }

  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 8px 0;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(0px);
    border: 1px solid var(--border-color-light);
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 2px 10px;
    text-align: center;
    font-size: 15px;
    display: inline-block;
  }

  .navbar-expand-lg .navbar-nav .nav-item.active .nav-link,
  .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: var(--primary-color);
  }

  /* .navbar-expand-lg .navbar-nav .nav-item.dropdown {
    padding-right: 15px;
  } */
  .nav-item.dropdown::after {
    top: 18px;
  }
}

/* Header */

/* Carousel */

.owl-carousel .owl-stage-outer {
  overflow: hidden;
}

.owl-stage {
  display: flex;
}

.owl-nav {
  display: none;
}

.owl-dots {
  margin-top: 0px;
  position: absolute;
  right: 24px;
  bottom: 120px;
  background: none;
}

.owl-dots button.owl-dot {
  border: none;
  display: block;
  background: transparent;
}

.owl-dots span {
  width: 12px;
  height: 12px;
  margin: 5px 2px;
  background: #fff;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 30px;
  position: relative;
}

.owl-dots .owl-dot.active span {
  background: var(--secondary-color);
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px;
}

.carousel__item {
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 3em 0;
  min-height: 90vh;
}

.carousel__item:active {
  cursor: -webkit-grab;
  cursor: grab;
}

.carousel__item::before {
  content: "";
  background: linear-gradient(
    75deg,
    rgb(16 16 16 / 34%) 10%,
    rgb(230 2 100 / 0%)
  );
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.carousel__item.item1 {
  background: url(../img/banner2.jpg) no-repeat top right / cover;
}
.carousel__item.item2 {
  background: url(../img/banner3.jpg) no-repeat center right / cover;
}

.carousel__inner {
  max-width: 600px;
}

.carousel__inner h5 {
  font-size: 70px;
  line-height: 80px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

@media (max-width: 1200px) {
  .carousel__inner h5 {
    font-size: 57px;
    line-height: 67px;
  }
}

@media (max-width: 992px) {
  .carousel__inner h5 {
    font-size: 50px;
    line-height: 60px;
  }
}

@media (max-width: 768px) {
  .carousel__inner h5 {
    font-size: 45px;
    line-height: 55px;
  }
}

@media (max-width: 415px) {
  .carousel__inner h5 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 366px) {
  .carousel__inner h5 {
    font-size: 38px;
    line-height: 48px;
  }
}

/* Carousel */

/* Item */
.item {
  position: relative;
  margin-top: -64px;
}

.item__inner {
  padding: 50px 35px;
  position: relative;
  z-index: 1;
  border-radius: 8px;
}

.item__inner.item1 {
  background-color: #037ef3;
}

.item__inner.item2 {
  background-color: #ffc949;
}

.item__inner.item3 {
  background-color: #ff4f81;
}

.item__inner.item4 {
  background-color: #1ee697;
}

.item__inner i {
  font-size: 45px;
  color: #fff;
}

.item__inner .item__title {
  margin-top: 25px;
  display: block;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}

.item__inner .item__title:hover {
  text-decoration: none;
  color: #000;
}

/* @media (max-width: 1200px) {
  h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
} */

@media (max-width: 1199px) {
  .item__inner .item__title {
    margin-top: 20px;
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .item__inner {
    padding: 48px 35px;
  }
  .item__inner .item__title {
    font-size: 25px;
  }
}
/* Item */

/* Greeting */
.greeting__title {
  padding-bottom: 24px;
  margin-bottom: 48px;
}
.greeting__title h2 {
  font-size: 40px;
  color: var(--heading-color);
  text-align: center;
  position: relative;
}

.greeting__title h2 span {
  color: var(--secondary-color);
}

.greeting__title h2::before {
  left: -20px;
  bottom: -8px;
}

.greeting__title h2::after {
  left: 20px;
  bottom: -15px;
}
.greeting__title h2:before,
.greeting__title h2::after {
  content: "";
  background: var(--font-color);
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}

.greeting__item span {
  color: var(--primary-color);
  font-size: 30px;
  background: var(--bg-color-li);
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
}

.greeting__info {
  margin-top: 24px;
}

.greeting__info h3 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: var(--heading-color);
}
.greeting__info a:hover {
  text-decoration: none;
}
.greeting__info h3:hover {
  color: var(--secondary-color);
}

.greeting__text {
  font-size: 16px;
  margin-top: 15px;
  line-height: 28px;
  color: var(--font-color);
  letter-spacing: 0.4px;
}
/* Greeting */

/* Services */
.services {
  background: url(../img/bg3.jpg) no-repeat bottom / cover;
}

.services__item {
  display: flex;
  align-items: center;
  background: var(--bg-color);
  padding: 30px;
  border-radius: 8px;
}
.services__item i {
  background: var(--primary-color);
  color: var(--primary-color);
  font-size: 28px;
  background: rgb(13 54 159 / 9%);
  width: 65px;
  height: 66px;
  line-height: 65px;
  border-radius: 50%;
  text-align: center;
}
.services__info {
  margin-left: 16px;
}

.services__info h5 {
  font-size: 20px;
  line-height: 30px;
  color: var(--heading-color);
  font-weight: 600;
  margin-bottom: 6px;
}

/* Services */

/* Number */
.number .title {
  max-width: 700px;
}
.number .title p {
  margin-top: 24px;
  padding-top: 8px;
}
.counter {
  border-right: 1px solid var(--border-color-light);
}

.timer {
  font-size: 46px;
  color: var(--heading-color);
  font-weight: 600;
}
.number__text {
  text-transform: uppercase;
  color: var(--heading-color);
}

@media (max-width: 991px) {
  .timer {
    font-size: 35px;
  }
  .number__text {
    font-size: 15px;
  }
}

/* Number */

/* Feedback */
.feedback__item {
  background: var(--bg-color);
  border-radius: 4px;
  box-shadow: 0 20px 62px var(--box-shadow-color);
  padding: 32px;
}
.feedback__item i {
  font-size: 22px;
  color: var(--secondary-color);
  line-height: 0.8;
}

.feedback__item img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  /* margin-right: 10px; */
}
.feedback__item p {
  text-indent: 5px;
}

.feedback__info {
  /* display: flex; */
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-gap: 5px;
  align-items: center;
  margin-top: 1.5em;
}

.feedback__info h5 {
  margin: 0;
  font-weight: 600;
  line-height: 16px;
  color: var(--heading-color);
}
.feedback__info p {
  font-size: 13px;
  color: var(--font-color);
}

@media (max-width: 1200px) {
  .feedback__info {
    grid-template-columns: 0.5fr 1fr;
  }
}
/* Feedback */

/* Intructors */
.instructors__item {
  box-shadow: 0 20px 62px var(--box-shadow-color);
  padding: 10px;
  background: var(--bg-color-2);
  border-radius: 8px;
}
.instructors__img {
  position: relative;
  overflow: hidden;
  z-index: 1;

  cursor: pointer;
}

.instructors__img img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.instructors__link {
  position: absolute;
  bottom: -227px;
  margin: 0;
  background: rgb(8 8 8 / 29%);
  padding: 20px 0;
  transition: all 0.5s;
  width: 100%;
  /* text-align: center; */
}

.instructors__item:hover .instructors__link {
  bottom: 0;
}
.instructors__item:hover .instructors__info a {
  color: var(--secondary-color);
  text-decoration: none;
}
.instructors__info {
  padding: 24px;
}
.instructors__info h5 {
  margin-bottom: 4px;
}

.instructors__info a {
  font-weight: 600;
  color: var(--heading-color);
}
.instructors__info span {
  font-size: 12.8px;
  color: var(--font-color);
}

.instructors__logo a {
  display: inline-block;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-color: #fff;
}

.instructors__logo a:hover {
  opacity: 0.8;
}

.instructors__logo i {
  color: var(--primary-color);
  font-size: 14px;
  line-height: 28px;
}
/* Intructors */

/* Contact */
.contact__right {
  margin-left: 1px;
}
.contact__right h3 {
  font-size: 35px;
  font-weight: 600;
  color: var(--heading-color);
  /* margin-bottom: 16px; */
  line-height: 45px;
}

.contact__right .btn {
  background-color: var(--secondary-color);
  color: #fff;
  transition: all 0.5s;
  margin-top: 40px;
}
.contact__right .btn:hover {
  background-color: var(--primary-color);
}
/* Contact */

/* Footer */
.footer {
  position: relative;
}
.footer__wrap {
  padding: 80px 0;
  background: #060e1f;
}

.footer__subscribe {
  padding: 50px;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  background: var(--bg-color);
  position: absolute;
  left: 0;
  right: 0;
  top: -60px;
  box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}

.footer__text h4 {
  font-size: 35px;
  line-height: 40px;
  color: var(--heading-color);
  font-weight: 600;
}

.footer__text p {
  font-size: 15px;
  color: var(--font-color);
  letter-spacing: 1px;
}

.footer__form {
  display: flex;
}

.footer__form .form-control {
  padding: 15px 20px;
  background: transparent;
  border: none;
  font-size: 16px;
  color: var(--heading-color);
  width: 100%;
  border-radius: 8px 0px 0px 8px;
  height: 55px;
  border: 1px solid var(--border-color);
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.footer__form .btn {
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 16px 30px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 0 8px 8px 0;
  transition: all 0.5s;
}
.footer__form .btn:hover {
  opacity: 0.9;
}
.footer__links {
  margin-top: 120px;
}

.footer__item h6 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(23, 54, 88, 0.4);
  padding-bottom: 10px;
}

.footer__item.footer__left a {
  position: relative;
  padding-left: 14px;
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
  margin: 0 0 10px 0;
  display: block;
}
.footer__item.footer__left a::before {
  display: inline-block;
  font-family: "FontAwesome";
  content: "\f101";
  position: absolute;
  left: 0px;
  font-size: 8px;
  color: #fff;
}

.footer__item a:hover {
  color: #fff;
  text-decoration: none;
}

.footer__inner i {
  font-size: 18px;
  color: #fff;
  vertical-align: middle;
  margin-right: 10px;
  width: 25px;
  text-align: center;
}

.footer__inner a {
  color: #cecece;
  line-height: 25px;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}
.footer__inner div:nth-of-type(2) {
  margin-top: 10px;
  padding: 10px 0;
}

.footer__links p {
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
  letter-spacing: 0.5px;
}

.footer__contact .footer__inner p {
  margin-top: 10px;
}
.footer__contact {
  border-right: 1px solid rgb(64 73 82 / 51%);
}

.footer__item.footer__right .footer__inner {
  margin-top: 19.2px;
}
.footer__social li {
  display: inline-block;
  margin-right: 5px;
}
.footer__social a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 50%;
  text-align: center;
}

.footer__social a:hover {
  opacity: 0.8;
  transition: 0.3s ease;
}
.footer__social i {
  font-size: 15px;
  line-height: 35px;
  margin-right: 0;
}

.footer__copyright {
  background: #040a17;
  padding: 20px 0;
  text-align: center;
}
.footer__copyright p {
  font-size: 15px;
  line-height: 20px;
  color: #a0a0a0;
}
.footer__copyright a {
  color: #fff;
}

@media (max-width: 991px) {
  .footer__subscribe {
    margin: 0 32px;
  }
  .footer__contact {
    border-right: none;
  }
  .footer__inner div:nth-of-type(2) {
    padding: 6px 0;
  }
}
/* Footer */

/* Back to Top */
.backToTop {
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 9;
  color: #fff;
  width: 40px;
  height: 40px;
  background: var(--primary-color);
  border-radius: 4px;
  line-height: 40px;
  transition: all 0.5s;
  border: none;
}
.backToTop i {
  font-size: 13px;
}

.backToTop:hover {
  opacity: 0.8;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

/* Back to Top */
